@model TicketDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Ticket details</h2>

<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Wager)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Wager)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PossibleGain)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PossibleGain)
        </dd>
    </dl>

    <h5>Pairs</h5>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Sport
                </th>
                <th>
                    Home Team
                </th>
                <th>
                    Away Team
                </th>
                <th>
                    1
                </th>
                <th>
                    X
                </th>
                <th>
                    2
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.PairDetails)
            {
                var homeWinsText = "";
                var tiedText = "";
                var awayWinsText = "";

                switch (item.Pair.Bet)
                {
                    case BetType.BetHome:
                        homeWinsText = "\u2714";
                        break;
                    case BetType.BetTied:
                        tiedText = "\u2714";
                        break;
                    case BetType.BetAway:
                        awayWinsText = "\u2714";
                        break;
                    default:
                        throw new ArgumentOutOfRangeException();
                }

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Match.Sport)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Match.HomeTeam)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Match.AwayTeam)
                    </td>
                    <td>
                        @homeWinsText
                    </td>
                    <td>
                        @tiedText
                    </td>
                    <td>
                        @awayWinsText
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
