@model Kladara_3.Models.MatchesNewTicketViewModel

@{
    ViewData["Title"] = "Kladara";
}

<h2>All matches</h2>

<p>These are all the matches you can bet on. Place your bet by selecting 1/x/2 in each row.</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Sport
            </th>
            <th>
                Home Team
            </th>
            <th>
                Away Team
            </th>
            <th>
                1
            </th>
            <th>
                X
            </th>
            <th>
                2
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Matches)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Sport)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HomeTeam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AwayTeam)
                </td>
                <td>
                    <button class="button" id="@Html.DisplayFor(modelItem => item.Id)_1" background-color: #ffffff onclick="btnClick(id);">
                        @Html.DisplayFor(modelItem => item.HomeWins)
                    </button>
                </td>
                <td>
                    <button class="button" id="@Html.DisplayFor(modelItem => item.Id)_X" background-color: #ffffff onclick="btnClick(id);">
                        @Html.DisplayFor(modelItem => item.Tied)
                    </button>
                </td>
                <td>
                    <button class="button" id="@Html.DisplayFor(modelItem => item.Id)_2" background-color: #ffffff onclick="btnClick(id);">
                        @Html.DisplayFor(modelItem => item.AwayWins)
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

<div id="newTicket">
@{
    await Html.RenderPartialAsync("~/Views/Tickets/_NewTicketSubmit.cshtml", Model.NewTicketData);
}
</div>